* {
 font-family: "Copperplate"; 
}

body {
 background-image: linear-gradient(to bottom, red, blue, white); 
 background-size: cover;
 background-atttachment: fixed;
 background-repeat: no-repeat;
}

.container {
 background-image: linear-gradient(to bottom right, red, blue, white);
 display: flex;
 justify-content: center;
 align-items: center;
 border: 10px outset gray;
 border-radius: 12px;
 padding: 10px 10px 10px 10px;
 height: 100%;
 width: 97%;
 outline: 5px solid black;
}

p {
 font-size: 20px;
 color: white;
 font-weight: 500;
 font-variant: small-caps;
 letter-spacing: 5px;
 text-shadow: 2px 2px 5px black;
 text-align: center;
}

input[type=number] {
 border: 5px inset black;
 background-color: blue;
 color: white;
}

input[type=number]:focus {
  background-color: lightblue;
}
