* {
 font-family: "Copperplate"; 
}

body {
 background-image: linear-gradient(to bottom, red, blue, white);  
 background-atttachment: fixed;
 background-repeat: no-repeat;
}

.container {
 background-image: linear-gradient(to bottom right, red, blue, white);
 display: flex;
 justify-content: center;
 align-items: center;
 border: 10px outset gray;
 padding: 10px 10px 10px 10px;
 height: 100%;
 width: 100%;
 outline: 5px solid black;
}

p {
 font-size: 20px;
 color: white;
 font-weight: 500;
 text-align: center;
}
