* {
 font-family: "Copperplate"; 
}

body {
 background-image: radial-gradient(circle, red, blue, white); 
 background-size: cover;
 background-atttachment: fixed;
 background-repeat: no-repeat;
 height: 100%;
 width: 100%;
}

.container {
 background-image: linear-gradient(to bottom right, red, blue, white);
 display: flex;
 justify-content: center;
 align-items: center;
 border: 10px outset gray;
 border-radius: 12px;
 padding: 10px 10px 10px 10px;
 height: 100%;
 width: 100%;
 outline: 5px solid black;
 font-size: 20px;
 color: white;
 font-weight: 500;
 font-variant: small-caps;
 letter-spacing: 5px;
 text-shadow: 5px 5px 10px black;
 text-align: center;
 column-gap: 50px;
}

input[type=number] {
 border: 5px inset black;
 background-color: blue;
 color: white;
}

input[type=number]:focus {
 background-color: lightblue;
 color: black;
}
